body {
    width: 100vw; height: 100vh;
    margin: 0 auto;
    background-color: #63639D;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-repeat: repeat;
}
.txt-gray { color:gray; }

.f1 { font-size: 14px;} .f2 { font-size: 14.5px;} .f3 { font-size: 15px;}
.f4 { font-size: 13px;} .f5 { font-size: 12px;} .f6 { font-size: 16px;}
/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ TASKBAR ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

.taskbar {
    display: flex; flex-direction: row;
    font-size: 14px; font-weight: bold;
    padding: 3px 10px; background-color: #DDDDDD;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.taskbar img { display: inline-block; height: 14px; }
#tb-l, #tb-r { width: 50% }
#tb-l a { padding-right: 10px; }
#tb-r a { padding-left: 5px; }

/*================= TASKBAR DROP */

    .tb-drop { position: relative; display: inline-block; }
    .tb-drop hr { background-color: darkslategray; size: .5px; margin: .5px;}
    .dc {
        display: none; position: absolute;
        background-color: #DDDDDD;
        min-width: 200px; margin-top: 3px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border: 1px groove black; border-top: none;
        z-index: 55555; margin-left: -8px;
    }
    .dc img { padding-right: 8px; }
    .dc a, .dc span {
        color: black; padding: 5px;
        text-decoration: none;
        display: block; font-size: 13.5px;
    }
    .dc span { color: gray; }
    .tb-drop:hover .dc { display: block; }
    .dc a:hover {background-color: lightgrey}

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ DESKTOP ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

.desktop {
    display: flex; flex-direction: row-reverse;
    margin-top: 15px;
}
#desk-main {
    display: flex;
    flex-wrap: wrap;
    width: 32%; height: 100%;
}
#desk-main button {
    width: 90px; height: 80px;
    background: none; border: none;
    text-align: center;
}
#desk-main button img {
    display: block; margin: 0 auto; padding-bottom: 5px;
}
#desk-main span { background-color: #CFCEE2; padding: 1px 2px; }
#desk-busy { width: 100%;  z-index: 1; }

@media screen and (min-width: 800px) {
    #desk-main { width: 35%; }
} @media screen and (min-width: 1305px) and (max-width: 4000px) {
    #desk-main { width: 16%; }
}

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ WINDOW ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

.window {
    background-color: #DDDDDD;
    border: 1px groove slategray; font-size: 14px;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0);
    border-top-right-radius: 5px; padding-bottom: 6px;
    margin-left: 5%; /* literally margins windows left */
}
.w-tb {
    display: flex !important; flex-direction: row !important;
    height: 25px !important; width: 98% !important;
    background-color: #DDDDDD;
    font-weight: bold; font-size: 14.2px;
    background-image: url("https://i.ibb.co/KWx5ZCT/dots.png");
    background-position: center; background-repeat: repeat-x;
    background-size: 20%; margin: 2px auto;
}
.w-tb span, .w-tb button { background-color: #DDDDDD; }
.w-tb span {
    padding: 0 10px !important; margin: auto !important;
    text-align: center !important;
}
.w-tb button {
    width: auto; height: 13px;
    border: .5px solid black !important; margin: auto 0 !important;
    font-size: 10px; text-align: center !important; padding: 0 4px !important;
}
.w-tb a { visibility:  hidden; }
.w-tb:hover a { visibility: visible; }

.busy-r {
    display: flex; flex-direction: row;
    width: 98%; height: auto; margin: 0 5px ;
    border: 1px groove lightgray;
    margin: 0 auto; padding-bottom: 5px;
}
.busy-c {
    display: flex; flex-direction: column;
    width: inherit; height: inherit; margin: 0 5px ;
    width: 98%; height: auto; margin: 0 5px ;
    border: 1px groove lightgray;
    margin: 0 auto; padding-bottom: 5px;
}

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ THEMES / W ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

#themeTerm {
    width: 500px; height: auto;
}
.themeTitle { display: block; font-weight: bolder; margin: 5px; }
.tt a {
    font-size: 13px;
    width: auto; padding: 1px 9px;
    background-color: lightgray;
    border: 1px groove lightskyblue;
}
.tt select { margin: 0 6px; }

    /*
        ---> screensaver
        ---> username
        ---> my computer
    */

.themeLeftOp {
    width: 85%; height: 250px;
    background-color: snow;
    border: 1px inset black;
    overflow-y: scroll; margin: auto;
}
.themeLeftOp button {
    display: block; margin: 8px auto;
    width: 94%; min-height: 58px;
    background-color: inherit;
    border: none; font-size: 13px;
    font-weight: 275; margin-top: 10px;
}
.themeLeftOp img {
    display: block; width: 50%;
    padding-top: 3px; margin-bottom: -5px;
    margin: 0 auto;
}
.thOpSel {
    width: 95%; height: 200px;
    margin: 5px 0; overflow-y: scroll;
    border: 1.1px solid black;
}
#themeTerm select {
    border-radius: 5px;
}
.thb {
    display: flex; flex-direction: row;
    width: 100%; height: 22px;
    margin: auto 0; padding: 1px 0;
    background-color: lightgray;
}
.thb span {
    margin-left: 5px; margin-top: 1.5px;
    font-weight: 545;
}
.thbBox {
    width: 35px; height: 12px;
    margin: 4px 2px;
    border: 1px solid black;
    margin: auto 0; margin-left: 5px; margin-right: 5px;
    background-color: lightseagreen;
}
.thOpSel a:hover { background-color: #b8b8b8; color: #1f1e1e; }

.tbb1 { background-color: #63639D;}
.tbb2 { background-color: cadetblue;}
.tbb3 { background-color: greenyellow;}
.tbb4 { background-color: tomato;}
.tbb5 { background-color: lightpink;}
.tbb6 { background-color: magenta;}
.tbb7 { background-color: turquoise;}
.tbb8 { background-color: gray;}
.tbb9 { background-color: coral;}

.bgSelectedOption { background-color: #b0aeae; color: #1f1e1e; }



  /*
    #534D4D on theme page button highlight
  */

/*~-~-~-~-~-~-~-~-~-~ ABOUT THIS COMPUTER / W ~-~-~-~-~-~-~-~-~-~*/

#aboutComputerTerm {
    width: 560px; height: auto; display: none;
}

.atct { margin: 5px; }

#aboutComputerTerm hr { border-top: 1px dashed darkslategray; width: 98%; }

/*~-~-~-~-~-~-~-~-~-~ ERSC / W ~-~-~-~-~-~-~-~-~-~*/

#erscTerm {
    width: 620px; min-height: 240px;
    background-color: steelblue; display: none;
}
#erscTerm .w-tb { background-color: steelblue; }
#erscTerm .w-tb span, #erscTerm .w-tb button {background-color: steelblue; }
/*.ersct { }*/















/*
    SCROLLBAR SETTINGS 
        -- ADD LEFT AND RIGHT X AXIS ARROWS
*/



    /* width */
    ::-webkit-scrollbar {
        width: 11px;
        background-color: lightgray;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #9898FB;
    }
    /* Buttons */
    ::-webkit-scrollbar-button:single-button {
        background-color: #bbbbbb;
        display: block;
        border-style: solid;
        height: 13px;
        width: 16px;
    }
    /* Up */
    ::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #555555 transparent;
    }
    /* Down */
    ::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 8px 8px 0 8px;
        border-color: #555555 transparent transparent transparent;
    }