body {
    width: 100vw; height: 100vh;
    margin: 0 auto;
    background-color: #63639D;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-repeat: repeat;
}
.txt-gray { color:gray; }
/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ TASKBAR ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

.taskbar {
    display: flex; flex-direction: row;
    font-size: 14px; font-weight: bold;
    padding: 3px 10px; background-color: #DDDDDD;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.taskbar img { display: inline-block; height: 14px; }
#tb-l, #tb-r { width: 50% }
#tb-l a { padding-right: 10px; }
#tb-r a { padding-left: 5px; }

/*================= TASKBAR DROP */

    .tb-drop { position: relative; display: inline-block; }
    .tb-drop hr { background-color: darkslategray; size: .5px; margin: .5px;}
    .dc {
        display: none; position: absolute;
        background-color: #DDDDDD;
        min-width: 200px; margin-top: 3px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border: 1px groove black; border-top: none;
        z-index: 1; margin-left: -8px;
    }
    .dc img { padding-right: 8px; }
    .dc a, .dc span {
        color: black; padding: 5px;
        text-decoration: none;
        display: block; font-size: 13.5px;
    }
    .dc span { color: gray; }
    .tb-drop:hover .dc { display: block; }
    .dc a:hover {background-color: lightgrey}

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ DESKTOP ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

.desktop {
    display: flex; flex-direction: row-reverse;
    margin-top: 15px;
}
#desk-main {
    display: flex;
    flex-wrap: wrap;
    width: 32%; height: 100%;
}
#desk-main button {
    width: 90px; height: 80px;
    background: none; border: none;
    text-align: center; /*margin: 0 auto;*/
}
#desk-main button img {
    display: block; margin: 0 auto; padding-bottom: 5px;
}
#desk-main span { background-color: #CFCEE2; padding: 1px 2px; }
#desk-busy { width: 100%; }

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ WINDOW ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

.window {
    width: 550px; height: 300px;
    background-color: #DDDDDD;
    border: 1px groove slategray;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0);
    border-top-right-radius: 5px;
}
.w-tb {
    display: flex; flex-direction: row;
    height: 25px; width: 98%;
    background-color: #DDDDDD;
    font-weight: bold; font-size: 14.2px;
    background-image: url("https://i.ibb.co/KWx5ZCT/dots.png");
    background-position: center; background-repeat: repeat-x;
    background-size: 20%; margin: 2px auto;
}
.w-tb span, .w-tb button { background-color: #DDDDDD; }
.w-tb span { text-align: center; }
.w-tb span { padding: 0 5px; margin: auto 0; }
.w-tb button {
    width: auto; height: 13px;
    border: .5px solid black; margin: auto 0;
    font-size: 10px; text-align: center; padding: 0 4px;
}