body {
    width: 100vw; height: 100vh;
    margin: 0 auto;
    background-color: #63639D;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-repeat: repeat;
}
.txt-gray { color:gray; }

.f1 { font-size: 14px;} .f2 { font-size: 14.5px;} .f3 { font-size: 15px;}
.f4 { font-size: 13px;} .f5 { font-size: 12px;} .f6 { font-size: 16px;}
/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ TASKBAR ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

.taskbar {
    display: flex; flex-direction: row;
    font-size: 14px; font-weight: bold;
    padding: 3px 10px; background-color: #DDDDDD;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.taskbar img { display: inline-block; height: 14px; }
#tb-l, #tb-r { width: 50% }
#tb-l a { padding-right: 10px; }
#tb-r a { padding-left: 5px; }

/*================= TASKBAR DROP */

    .tb-drop { position: relative; display: inline-block; }
    .tb-drop hr { background-color: darkslategray; size: .5px; margin: .5px;}
    .dc {
        display: none; position: absolute;
        background-color: #DDDDDD;
        min-width: 200px; margin-top: 3px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        border: 1px groove black; border-top: none;
        z-index: 1; margin-left: -8px;
    }
    .dc img { padding-right: 8px; }
    .dc a, .dc span {
        color: black; padding: 5px;
        text-decoration: none;
        display: block; font-size: 13.5px;
    }
    .dc span { color: gray; }
    .tb-drop:hover .dc { display: block; }
    .dc a:hover {background-color: lightgrey}

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ DESKTOP ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

.desktop {
    display: flex; flex-direction: row-reverse;
    margin-top: 15px;
}
#desk-main {
    display: flex;
    flex-wrap: wrap;
    width: 32%; height: 100%;
}
#desk-main button {
    width: 90px; height: 80px;
    background: none; border: none;
    text-align: center; /*margin: 0 auto;*/
}
#desk-main button img {
    display: block; margin: 0 auto; padding-bottom: 5px;
}
#desk-main span { background-color: #CFCEE2; padding: 1px 2px; }
#desk-busy { width: 100%; }

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ WINDOW ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

.window {
    background-color: #DDDDDD;
    border: 1px groove slategray;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0);
    border-top-right-radius: 5px; padding-bottom: 6px;
    margin-left: 5%; /* literally margins windows left */
}
.w-tb {
    display: flex !important; flex-direction: row !important;
    height: 25px !important; width: 98% !important;
    background-color: #DDDDDD;
    font-weight: bold; font-size: 14.2px;
    background-image: url("https://i.ibb.co/KWx5ZCT/dots.png");
    background-position: center; background-repeat: repeat-x;
    background-size: 20%; margin: 2px auto;
}
.w-tb span, .w-tb button { background-color: #DDDDDD; }
.w-tb span {
    padding: 0 10px !important; margin: auto !important;
    text-align: center !important;
}
.w-tb button {
    width: auto; height: 13px;
    border: .5px solid black !important; margin: auto 0 !important;
    font-size: 10px; text-align: center !important; padding: 0 4px !important;
}
.w-tb a { visibility:  hidden; }
.w-tb:hover a { visibility: visible; }

.busy-r {
    display: flex; flex-direction: row;
    width: 98%; height: auto; margin: 0 5px ;
    border: 1px groove lightgray;
    margin: 0 auto; padding-bottom: 5px;
}
.busy-c {
    display: flex; flex-direction: column;
    width: inherit; height: inherit; margin: 0 5px ;
    width: 98%; height: auto; margin: 0 5px ;
    border: 1px groove lightgray;
    margin: 0 auto; padding-bottom: 5px;
}

/*~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ THEMES / W ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~*/

#themeTerm {
    width: 500px; height: auto;
}
#themeTerm span { display: block; font-weight: bolder; margin: 5px; }
.tt a {
    font-size: 13px;
    width: auto; padding: 1px 9px;
    background-color: lightgray;
    border: 1px groove lightskyblue;
}
.tt select { margin: 0 6px; }

    /*
        ---> screensaver
        ---> username
        ---> my computer
    */

/*~-~-~-~-~-~-~-~-~-~ ABOUT THIS COMPUTER / W ~-~-~-~-~-~-~-~-~-~*/

#aboutComputerTerm {
    width: 560px; height: auto;
}

.atct { margin: 5px; }

#aboutComputerTerm hr { border-top: 1px dashed darkslategray; width: 98%; }

